.fondoPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup{
    background-color: rgb(0, 173, 189);
    border-radius: 12px;
    width: 35%;
    height: 40%;
    display: grid;
    grid-template-rows: 40% 20% 21% 19%;
}

.imgErrorPopup{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.errorPopup{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-weight: bolder;
}


.errorExtensoPopup{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;
    font-weight: bolder;
    color: rgb(27, 44, 44);
}

.botonesErrorPopup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonCerrarError{
    width: 60%;
    height: 50%;
     font-weight: bolder;
    font-size: 135%;
    border-radius: 8px;
    border: 0px;
    background-color: #fff;
    color: black;
}

.botonCerrarError:hover{
    background-color: rgb(150, 175, 176);
    color: black;
}