@font-face {
    font-family: 'geoSans';
    src: url(../src/assets/fonts/GeosansLight.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geoSansTit';
    src: url(../src/assets/fonts/GeosansLight-Oblique.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.root{
    height: 100%;
    margin: 0;
    padding: 0;
}

