.logoLanding{
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/back-img/fondo13.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.divLogo{
    width: 50%;
    height: 60%;
    background-color: rgba(27, 39, 39, 0.884);
    border-radius: 6px;
    display: grid;
    grid-template-rows: 30% 30% 30%;
    place-items: center;
}

.tituloLogo{
    margin: 0px;
    padding-top: 5%;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: geoSansTit, sans-serif;
    font-size: 6.6vw;
    color: white;
}

.parrafoLogo{
    margin: 0px;
    padding-top: 5%;
    width: 100%;
    height: 100%; 

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: geoSans, sans-serif;
    font-size: 1.6vw;
    color: white;
}