.login{
    width: 70%;
    height: 80%;
    background-color: rgba(27, 39, 39, 0.884);
    border-radius: 7px;

    display: grid;
    grid-template-rows: 20% 50% 30%;
    place-items: center;
}

.tituloLogin{
    font-family: geoSansTit, sans-serif;
    font-size: 4.3vw;
    color: white;
}


.divformLogin{
    width: 90%;
    height: 90%;
    background-color: #436162;
    border-radius: 8px;
}

.formLogin{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    place-items: center;
}


.controlesLogin{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.botonLogin{
    width: 60%;
    height: 30%;
    font-weight: bolder;
    border-radius: 8px;
    border: 0px
}

.botonLogin:hover{
    width: 60%;
    height: 30%;
    font-weight: bolder;
    border-radius: 8px;
    border: 0px;
    color: black;
    background-color: rgb(0, 157, 172);
}

.inputLogin{
    width: 75%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    border-bottom: 1px solid black;
    color: white;
    font-size: 130%;
}

.inputLogin::placeholder{
    color: white;
}