.login{
    width: 70%;
    height: 80%;
    border-radius: 7px;

    display: grid;
    grid-template-rows: 20% 60% 20%;
    place-items: center;
}

.tituloLogin{
    font-family: geoSansTit, sans-serif;
    font-size: 4vw;
    color: white;
}


.divformLogin{
    width: 90%;
    height: 90%;
    border-radius: 8px;
}

.formLogin{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    place-items: center;
}


.controlesLogin{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.botonLogin{
    width: 60%;
    height: 40%;
    font-weight: bolder;
    font-size: 135%;
    border-radius: 8px;
    border: 0px;
    background-color: #517274;
    color: white;
}

.botonLogin:hover{
    background-color: rgb(150, 175, 176);
    color: black;
}

.inputLogin{
    padding-left:15px;
    width: 75%;
    height: 50%;
    background-color: #517274;
    border-radius: 7px;
    border: 0px;
    color: white;
    font-size: 140%;
    font-weight: bolder;
}

.inputLogin::placeholder{
    font-size: 120%;
    color: white;
}
