.Register{
    width: 70%;
    height: 80%;
    border-radius: 7px;

    display: grid;
    grid-template-rows: 20% 60% 20%;
    place-items: center;
}

.tituloRegister{
    font-family: geoSansTit, sans-serif;
    font-size: 4vw;
    color: white;
}

.divformRegister{
    width: 90%;
    height: 90%;
    border-radius: 8px;
}

.formRegister{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    place-items: center;
}


.controlesRegister{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
}

.botonRegister{
    width: 85%;
    height: 50%;
     font-weight: bolder;
    font-size: 135%;
    border-radius: 8px;
    border: 0px;
    background-color: #517274;
    color: white;
}

.botonRegister:hover{
    background-color: rgb(150, 175, 176);
    color: black;
}

.botonColumnaRegister{
    grid-column: 1 / 3;
}

.inputRegister{
    padding-left:15px;
    width: 75%;
    height: 50%;
    background-color: #517274;
    border-radius: 7px;
    border: 0px;
    color: white;
    font-size: 110%;
    font-weight: bolder;
}

.inputRegister::placeholder{
    font-size: 120%;
    color: white;
}